<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" type = "text/css" href = "/public/css/stylesheet.css">
    <link rel="icon" type="image/png" href="/public/images/favicon.png"/>
    <script defer src = "/public/js/frontendjs.js"></script>
    <title>PicPost</title>
</head>
<body>
    <header>
        {{> navbar}}
    </header>
        <div class = "grid-container">
            <div class = "site-content" id = "site-content">
            Welcome to PicPost, the world's coolest image host.<br>
            <br> Recent posts:
            
            </div>    
        </div>  
    <footer>
        {{> footer}}
    </footer>
</body>   
</html>