<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" type = "text/css" href = "/public/css/stylesheet.css">
    <link rel="icon" type="image/png" href="/public/images/favicon.png"/>
    <script defer src = "/public/js/frontendjs.js"></script>
    <title>Search Results</title>
</head>
<body>
    <div class = "grid-container">
        <header>
            {{> navbar}}
        </header>
        <div class = "site-content">
            <div class = "search-results">
            <div class = "row"> 
                <div class = "column">
                    <a href = "/imagepost"><img src = "http://mattrbolles.com/charles.jpg" alt = "Charles says hello" style = "width:100%"></a>
                    <a href = "/imagepost"><img src = "http://mattrbolles.com/charles.jpg" alt = "Charles says hello" style = "width:100%"></a>
                    <a href = "/imagepost"><img src = "http://mattrbolles.com/charles.jpg" alt = "Charles says hello" style = "width:100%"></a>
                    <a href = "/imagepost"><img src = "http://mattrbolles.com/charles.jpg" alt = "Charles says hello" style = "width:100%"></a>
                </div>     
                <div class = "column">
                    <a href = "/imagepost"><img src = "http://mattrbolles.com/charles.jpg" alt = "Charles says hello" style = "width:100%"></a>
                    <a href = "/imagepost"><img src = "http://mattrbolles.com/charles.jpg" alt = "Charles says hello" style = "width:100%"></a>
                    <a href = "/imagepost"><img src = "http://mattrbolles.com/charles.jpg" alt = "Charles says hello" style = "width:100%"></a>
                    <a href = "/imagepost"><img src = "http://mattrbolles.com/charles.jpg" alt = "Charles says hello" style = "width:100%"></a>
                </div>     
                <div class = "column">
                    <a href = "/imagepost"><img src = "http://mattrbolles.com/charles.jpg" alt = "Charles says hello" style = "width:100%"></a>
                    <a href = "/imagepost"><img src = "http://mattrbolles.com/charles.jpg" alt = "Charles says hello" style = "width:100%"></a>
                    <a href = "/imagepost"><img src = "http://mattrbolles.com/charles.jpg" alt = "Charles says hello" style = "width:100%"></a>
                    <a href = "/imagepost"><img src = "http://mattrbolles.com/charles.jpg" alt = "Charles says hello" style = "width:100%"></a>
                </div>     
                <div class = "column">
                    <a href = "/imagepost"><img src = "http://mattrbolles.com/charles.jpg" alt = "Charles says hello" style = "width:100%"></a>
                    <a href = "/imagepost"><img src = "http://mattrbolles.com/charles.jpg" alt = "Charles says hello" style = "width:100%"></a>
                    <a href = "/imagepost"><img src = "http://mattrbolles.com/charles.jpg" alt = "Charles says hello" style = "width:100%"></a>
                    <a href = "/imagepost"><img src = "http://mattrbolles.com/charles.jpg" alt = "Charles says hello" style = "width:100%"></a>
                </div>     
            </div>
            </div>

        </div>
    
        <footer>
            {{> footer}}
        </footer>
    </div>  
</body>   
</html>